{% extends 'principal.html' %}
{% block body%}
<link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="srylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
 <script>
        var nc = $.noConflict(true);
    nc(document).ready( function () {
    nc('#tpelicula').DataTable();
} );
</script>


<div class="container">
    <div class="form-group" style="width:800px; margin:0 auto; height: 60px"  >
       
        <ul class="messages">
           
            <li>
                <div class="alert alert-warning">Selecciona la placa de un vehiculo para alquilar</div>
            </li>
           
        </ul>
      
    </div>
    <div class="form-group" >
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>
                <div class="{{ message.tags }}">{{ message }}</div>
            </li>
            {% endfor %}
        </ul>
        {% endif%}
    </div>
    <h1>Vehiculos</h1>
    
    <a href="/registrarVehiculo" class="btn btn-info " style="float: right;">
        <span class="glyphicon glyphicon-plus" ></span>Agregar Vehiculo 
      </a>
      
    <table class="table table-striped" id="tpelicula">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Transmision</th>
                <th>Nro de puertas</th>
                <th>Numero de asientos</th>
                <th>Tipo de vehiculo</th>
                <th>Aire acondicionado</th>
            </tr>
            </thead>
            {% for c in l%}
            <tr>
                <th><a href="/agregarHorario?dato={{c.vehiculo_id}}">{{c.placa}}</a></th>
                <th>{{c.marca}}</th>
                <th>{{c.modelo}}</th>
                <th>{{c.transmision}}</th>
                <th>{{c.nro_puertas}}</th>
                <th>{{c.nro_asientos}}</th>
                <th>{{c.tipo_vehiculo}}</th>
                <th>{{c.aire_acondicionado}}</th>
             <!----   <th><a href="/editar_pelicula?nombre_pelicula={{c.nombre_pelicula}}">editar</a></th>-->
                
            </tr>
        

        {% endfor%}
        </table>
</div>
{% endblock%}